.react-markdown-textarea {
  &__textarea-wrapper {
    border: 1px solid gray(80%);
    overflow: hidden;
    padding: 13px;
  }
  &__textarea {
    border: none;
    width: 100%;
    background: gray(95%);
    padding: 6.5px;
    &:focus {
      background: gray(100%);
    }
  }
  &__preview {
    min-height: 65px;
    padding: 6.5px;
    > * {
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__save-button {
    float: left;
    margin-top: 6.5px;
  }
  &__delete-button {
    float: left;
    margin-left: 6.5px;
    margin-top: 6.5px;
  }
  &__spinner {
    top: rhythm(1);
    left: rhythm(1);
    height: rhythm(1);
    width: rhythm(1);
    float: left;
    .react-spinner_bar {
      background-color: black;
    }
  }
  &__nav {
    font-size: 15px;
    line-height: 26px;
    padding-left: 13px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: -6.5px;
    &__item {
      border: 1px solid;
      border-color: rgba(0,0,0,0);
      color: gray(20%);
      margin-left: 6.5px;
      margin-bottom: 0;
      padding: 6.5px 13px;
      position: relative;
      top: 2px;
      &--active {
        background: white;
        border: 1px solid;
        border-bottom: none;
        border-color: gray(80%);
        color: gray(30%);
      }
    }
  }
}
