.react-markdown-textarea {
  &__textarea-wrapper {
    border: 1px solid gray(80%);
    padding: rhythm(0.5);
    &__textarea {
      width: 100%;
      background: gray(95%);
      padding: rhythm(0.25);
      &:focus {
        background: gray(100%);
      }
    }
    &__preview {
      > * {
        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  &__nav {
    @include adjust-font-size-to(15px);
    padding-left: rhythm(0.5);
    margin-left: 0;
    margin-top: 0;
    margin-bottom: rhythm(-0.25);
    &__item {
      border: 1px solid;
      border-color: rgba(0,0,0,0);
      color: gray(20%);
      margin-left: rhythm(0.25);
      margin-bottom: 0;
      padding: rhythm(0.25) rhythm(0.5);
      position: relative;
      top: 2px;
      &--active {
        background: white;
        border: 1px solid;
        border-bottom: none;
        border-color: gray(80%);
        color: gray(30%);
      }
    }
  }
}
